.menu_categories__item{
    position: relative;
    /*width: 100%;*/
    /*width: 252px;*/
    height: 100%;
    background: #fff url(images/bg.gif) repeat-x;
    z-index: 10;

    /*padding-left: 26px;*/
    /*padding-right: 10px;*/
}

.menu_categories__item:hover{
    background-image: none;
}

.menu_categories__item ul:not(:first-child){
    width:330px;
    /*background-color: rgba(255,255,255,0.8);*/
}

.subCategory {
    display: none;
    position: absolute;
    top: 0;
    right: -330px;
    border: 1px solid #ccc;
    border-top: none;
    list-style: none;
    margin: 0;
    padding: 0;
    /*background-color: #fff;*/

    z-index: 9;
}

.menu_categories__item:hover > .subCategory:nth-of-type(1){
    display: block;
}

.menu_categories{
    position: relative;
    border: 1px solid #ccc;
    border-top: none;
    margin: 0;
    padding: 0;
    z-index: 9;
}

.menu_categories__link{
    display: block;
    width: 100%;
    border-top: 1px solid #ccc;
    text-align: left;
    padding-left: 15px;
    color: #06C;
    font-size: 14px;
    line-height: 35px;

    text-decoration: none;
}
.menu_categories__link:hover{
    text-decoration: none;
    color: #FF6666;
}


/*Sub level menu items
---------------------------------------*/

.decor_arrow:after {
    position: absolute;
    right:0;
    top: 0;
    content: '\f0da';
    font-family: FontAwesome;
    font-size: 12px;
    width: 20px;
    /*height: 100%;*/
    color: #000;

}


.menu_categories__item.decor_arrow:after{
    top: 35%;
}

.menu_categories__item ul:not(:first-child) .menu_categories__item.decor_arrow:after{
    top: 30%;
}

.menu_categories__item:hover.decor_arrow:after{
    color: #ff6666;
}



.buttonStartMenu {

    position: relative;
    display: inline-block;
    width: 190px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #FFF;
    outline: none;
    border: 2px solid #F64C2B;
    border-radius: 5px;
    text-transform: uppercase;
    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
    cursor: default;
    left: .3em;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
    z-index: 10;

}

.buttonStartMenu:active,
.buttonStartMenu:hover{
    left: .3em;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
}
