
html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    font-weight: 400;
    min-width: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.wrapperBlock {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

.bl_wrappen {
    position: relative;
    width: 100%;
    height: 100%;
}

.blackWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgb(51, 51, 51);
    z-index: 1075;
}

.bl_overflow {
    overflow: hidden;
}

.bl_buyOneClick {
    position: relative;
    width: 100%;
    height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
}

.correct_right {
    padding-right: 0 !important;
}

.correct_left {
    padding-left: 0 !important;
}

.block_white {
    background-color: #fff;
}

.text_error {
    font-size: 16px;
    color: red;
}

.text_success {
    text-align: center;
    font-size: 16px;
    color: #00b800;
}

/*.content {*/
/*min-height: calc(100vh - 190px);*/
/*}*/

.page_container {
    width: 95%; /* ������ ��������� ����� */
    min-width: 590px;
    /*height: 100%; /* ������ ��� ����������� */
    background: #fff; /* ���� ����� ��� ����������� */
    margin: 0 auto; /* ������ ������ ����� � ������ auto ����� ��������� ������������ �� ������ */
    margin-top: 0px;
    display: table;
}

.blok_top {
    background-color: #fff;
    height: 80px;
    width: 100%;
    border-bottom: 5px solid rgb(236, 236, 236);
}

.top-info {
    width: 100%;
    line-height: 35px;
    border-bottom: 1px solid rgb(236, 236, 236);
    color: #4d4d4d;
    font-size: 12px;
    text-transform: uppercase;
}

.blok_main {
    background-color: #fff;
    display: table;
    width: 100%;

}

.blok_bottom_cont {
    height: 150px;
    width: 100%;
}

.blok_bottom {
    background: #f5f5f5;
    border-top: 1px solid #c3c3c3;
    box-shadow: inset 0 1px 6px 0 #d8d8d8;
    height: 170px;
    width: 100%;
    min-width: 750px;
    margin-top: 20px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table;

}

.blok_bottom_1 {
    position: relative;
    display: table-cell;
    width: 250px;
    white-space: nowrap;

}

.blok_bottom_2 {
    position: relative;
    display: table-cell;
    width: 250px;
    white-space: nowrap;

}

.blok_bottom_3 {
    position: relative;
    display: table-cell;
    width: 250px;
    white-space: nowrap;

}

.blok_main_1 {
    /*float:left;*/
    width: 250px;
    min-width: 250px;
    background: #fff;
    display: table-cell;
    vertical-align: top;
    text-align: left;
}

.blok_main_2 {
    background-color: #fff;
    display: table-cell;
    width: 100%;
    min-width: 680px; /*4 elements price-about  and 3 price-item*/
}

.blok_main_2_1 {
    float: left;
    background-color: #fff;
    width: 90%;
}

.blok_main_2_1_when_bl2_2_in_new_line {
    float: left;
    background-color: #fff;
    width: 100%;
}

.blok_main_2_2 {
    float: left;
    background-color: #fff;
    width: 10%; /* ���� ������������, �� ���������� ��� 90% ��� 100 � 100 ��� ���� �����*/
    word-wrap: break-word;
}

.blok_main_2_2_new_line { /*���� ������� ��� �����������*/
    float: left;
    background-color: #fff;
    width: 100%; /* ���� ������������, �� ���������� ��� 90% ��� 100 � 100 ��� ���� �����*/
}

.blok_main_2_1_x {
    float: left;
    background-color: #fff;
    width: 160px;
    min-width: 160px;
}







