
html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    font-weight: 400;
    min-width: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.wrapperBlock {
    display: -webkit-box;
    display: flex;

    -webkit-box-orient: vertical;
    flex-direction: column;


    position: relative;
    width: 100%;
    height: 100%;
}

.bl_wrappen {
    position: relative;
    width: 100%;
    height: 100%;
}

.blockWrapper {
    display: -webkit-box;
    position: fixed;

    flex-direction: column;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgb(51, 51, 51);
    z-index: 1075;
}

.bl_overflow {
    overflow: hidden;
}

.bl_buyOneClick {
    position: relative;
    width: 100%;
    height: 100%;
}

.header{
    flex: 1 0 auto;
    width: 100%;
}

.main {
    width: 100%;
    border-top: 5px solid rgb(236, 236, 236);
}

.footer {
    flex: 0 0 auto;
    width: 100%;
    margin-top: 20px;

    border-top: 1px solid #c3c3c3;
    box-shadow: inset 0 1px 6px 0 #d8d8d8;
    background-color: #F5F5F5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;



}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
}





.correct_right {
    padding-right: 0 !important;
}

.correct_left {
    padding-left: 0 !important;
}

.block_white {
    background-color: #fff;
}

.text_error {
    font-size: 16px;
    color: red;
}

.text_success {
    text-align: center;
    font-size: 16px;
    color: #00b800;
}



.page_container {
    width: 95%; /* ������ ��������� ����� */
    min-width: 590px;
    /*height: 100%; /* ������ ��� ����������� */
    background: #fff; /* ���� ����� ��� ����������� */
    margin: 0 auto; /* ������ ������ ����� � ������ auto ����� ��������� ������������ �� ������ */
    display: table;
}




.blok_top {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 80px;
    z-index:4;
}

.top-info {
    width: 100%;
    line-height: 35px;
    border-bottom: 1px solid rgb(236, 236, 236);
    color: #4d4d4d;
    font-size: 12px;
    text-transform: uppercase;
}


.blok_main_1 {
    min-width: 250px;
}

.blok_main_2 {
    width: 100%;
    /*min-width: 680px; !*4 elements price-about  and 3 price-item*!*/
}


.blok_main_2_1_when_bl2_2_in_new_line {
    float: left;
    background-color: #fff;
    width: 100%;
}


.blok_main_2_2_new_line { /*���� ������� ��� �����������*/
    float: left;
    background-color: #fff;
    width: 100%; /* ���� ������������, �� ���������� ��� 90% ��� 100 � 100 ��� ���� �����*/
}

.blok_main_2_1_x {
    float: left;
    background-color: #fff;
    width: 160px;
    min-width: 160px;
}







