@import "../components/variables";
/*********************************************/
/*Desktop First Method*/
/*********************************************/

/* Large Devices, Wide Screens 1280px */
@media only screen and (max-width: 1200px) {

  .blok_main_1 {
    min-width: initial;
  }
}

/* Medium Devices, Desktops 992px */
@media only screen and (max-width: 991px) {

  .left-group-menu {
    display: none;
    position: relative;
    margin-bottom: 15px;
  }

  .menu_categories__link {
    font-size: 16px;
  }

  .minBasket_full {
    float: right;
  }

  .binfo_image {
    float: right;
  }
  .price-item-pic-wrap {
    width:auto;
    height:auto;
    margin: 0 auto;
  }
  .price-item-box img{
    width:auto;
  }

  .binfo.active:after {
    left: 130px;
  }

  .menu_categories:first-of-type .menu_categories__item .menu_categories__link {
    text-align: center;
  }

  .category_menu .buttonStartMenu:hover + .left-group-menu {
    position: relative;
  }

  .subCategory {
    position: relative;
    height: 0; //////////// это псевдо слайдер для мобильного
    width: 100% !important;
    border: none;
    background-color: #fff;
    right: 0;
    left: 0;
  }
  .subCategory.active {
    height: initial;
    transition: all .3s;
  }
  .subCategory.active > .menu_categories__item {
    display: block;
    background-color: #f2fcff;
    background-image: none;
  }

  .btn_menu {
    position: relative;
    float: right;
    border: 1px solid #000;
    background-color: #fff;
  }

  .pricename{
    height: 57px;
  }

  //.price-item-wrap1:hover{
  //  visibility: hidden;
  //}

  .blok_main_1.category_menu {
    width: 100%;
  }
  .buttonStartMenu {
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }

  .top-info__inner {
    justify-content: space-around;
  }

  .top-phone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .left-group-vlast {
    display: none;
  }

  .copyr {
    margin-top: 20px;
  }

  .footer > .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer_part1 {
    order: 1;
  }

  .footer_part2 {
    order: 2;
  }

  .footer_part3 {
    order: 3;
  }

  .price-item-wrap1:hover .price-item-box {
    border: none;
    box-shadow: none;
  }

  .price-item-wrap1 {
    width: 33%;
  }

}

/* Small Devices, Tablets 768px */
@media only screen and (max-width: 768px) {
  .header {
    background-color: #9fcea0;
    margin-bottom: 35px;
  }

  .block_ssearch {
    display: none;

    position: absolute;
    top: 57px;
    left: 35%;
    max-width: 300px;

  }

  .top-line-adr,
  .top-line-delivery,
  .top-phone{
    display:none;
  }


  .bl_language{
    display: block;
    margin-left: 0;
    position: absolute;
    z-index:12;
  }



  .search_icon {
    width: 40px;
  }

  .blok_main_2_1_x_about_item {
    padding: 0;
    margin-left: 10px;
    min-width: initial;
    width: auto;
    height: auto;
  }
  .blok_main_2_1_x_about_item_cont{
    width:50%;
    max-width: initial;
    min-width: initial;
  }

  .subgr-list-block {
    padding: 0;
    min-height: initial;
  }

  .about_item_box {
    width: auto;
    max-width: initial;
    min-height: initial;
    height: 300px;

  }

  .searchtext_def {
    width: 75%;
  }

  .minBasket_full {
    margin-left: 0;
  }



}

@media only screen and (max-width: 600px) {



  .price-item-wrap1 {
    width: 48%;
    height: auto;
  }

  .price-item-box .bl_description__short {
    display: none;
  }

  .price-item-box .bl_description__attributes {
    display: none;
  }
  .buy_container {
    padding: 10px;
  }

  .button_buyProduct {
    float: none;
    margin: 20px auto;
    display: block;
  }
  .button_continueBuying__link {
    display: block;
    text-align: center;
  }

  .blok_main_2_1_x_about_item_cont {
    height: 300px;
  }

}

/* Extra Small Devices, Phones 480px */
@media only screen and (max-width: 480px) {
  .block_ssearch {
    left: 15%;
  }

  .logo_link {
    width: 110px;
  }

  .bl_language{
    margin-left: 16px;
  }


  .root-logo {
    float: none;
  }

  .binfo {
    min-width: initial;
  }

  .binfo.active:after {
    left: 74px;
  }

  .buy_container .price {
    padding: 0;
  }

  .minBasket_param {
    display: none;
  }

  .price-item-wrap1 {
    margin-top: 10px;
    //width: 100%;
  }

  .blok_main_2_1_x_about_item_cont {
    height: 250px;
  }

}

@media only screen and (max-width: 400px) {

  .about_item_box {
    height: 250px;
  }
}

/* Custom, iPhone Retina 320px */
@media only screen and (max-width: 320px) {

}
